# Default owners for everything in the repo.
# Required for code review to add new projects.
*                                                         @williamro

/CODEOWNERS                                               @williamro